.header-container {
    display: flex;
    justify-content: space-between;
    border: 0.0625rem solid black; /* 1px */
}

.logo {
    width: 6.25rem;   /* 100px */
    height: 6.25rem;  /* 100px */
}

.nav-container {
    padding: 0.3125rem 1.25rem; /* 5px 20px */
}

.nav-container > ul {
    list-style: none;
    display: flex;
    gap: 0.9375rem; /* 15px */
}

.nav-container > ul > li {
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
}

.body-container {
    padding: 1.25rem; /* 20px */
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    margin: 1.25rem 3.5625rem; /* 20px 57px */
}

.search-input {
   width: 30%;
}

.search-button {
    background-color: #f0f0f0;
    padding: 0.5rem 0.75rem; /* 8px 12px */
    cursor: pointer;
}

.filter-button {
    background-color: #f0f0f0;
    padding: 0.625rem; /* 10px */
    cursor: pointer;
    display: flex;
    margin-left: 10px;
}

.restaurant-card {
    margin: 0.625rem; /* 10px */
    background-color:  #f0f0f0;
    width: 12.5rem;
    height: 22rem;
}

.restaurant-card:hover {
   border: 0.0625rem solid black; /* 1px */
   background-color: white;
}

.restaurant-image {
    width: 12.5rem;   /* 200px */
    height: 9.375rem; /* 150px */
}

.restaurant-info {
    margin: 0rem 0.625rem; /* 10px */
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 3rem;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
